.places {
  margin: 50px auto 0;
  display: grid;
  max-width: min(calc(880 / 1280 * 100%), 880px);
  min-width: 282px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-items: center;
  justify-content: center;
  column-gap: 17px;
  row-gap: 20px;
}


@media screen and (max-width: 320px) {
  .places {
    margin-top: 36px;
  }
}
