.popup__fields{
  border: 0;
  margin: 47px auto 0;
  max-width: calc(100% - 36px * 2);
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .popup__fields {
    max-width: calc(100% - 22px * 2);
    margin-top: 75px;
  }
}
