.popup__form {
  grid-area: content;
  min-width: min(430px, 100%);
  background-color: white;
  border-radius: 10px;
  padding-bottom: 37px;
}

@media screen and (max-width: 520px) {
  .popup__form {
    padding-bottom: 25px;
  }
}
