.profile__info{
  align-self: center;
  margin-left: 30px;
  max-width: 336px;

  display: grid;
  row-gap: 10px;
  column-gap: 18px;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
  "name edit-btn"
  "caption caption";
}


@media screen and (max-width: 950px) {
  .profile__info {
    width: 100%;
    margin-left: 0;
    justify-items: center;
    margin-bottom: 36px;
    column-gap: 10px;

    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas:
    ". name edit-btn"
    "caption caption caption";
  }
}
