.popup__submit-btn{
  display: block;
  padding: 0;
  margin: 48px auto 0;
  min-width: min(358px, 100% - 36px * 2);
  max-width: calc(100% - 36px * 2);
  min-height: 50px;
  border: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: opacity 0.4s;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.popup__submit-btn:hover{
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup__submit-btn {
    min-height: 46px;
    min-width: min(238px, 100% - 22px * 2);
    max-width: calc(100% - 22px * 2);
    margin-top: 45px;
    font-size: 14px;
    line-height: 1.21;
  }
}
