.place{
  display: grid;
  width: 282px;
  height: 361px;

  grid-template-rows: max-content 1fr;

  grid-template-areas:
  "image"
  "info";

  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
}
