.profile__add-place-btn {
  align-self: center;
  min-height: 50px;
  min-width: 150px;
  padding: 0;
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  background-image: url("../../../images/plus-icon.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.4s;
}

.profile__add-place-btn:hover {
  opacity: 0.6;
}


@media screen and (max-width: 950px) {
  .profile__add-place-btn {
    width: 100%;
    background-size: 16px 16px;
  }
}
